# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências (O mais importante!)
node_modules/
.pnp
.pnp.js

# Pastas de build/produção (geradas pelo Vite)
dist/
dist-ssr/
build/

# Arquivos de teste e cobertura
coverage/

# Arquivos de ambiente local (Senhas e chaves da API)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de cache do Bun, Vite e ESLint
.eslintcache
.vite/
.bun/

# Arquivos do sistema e editores (VS Code, Mac, etc.)
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?