# Ambientes Virtuais (Arquivos pesados do Python)
backend/venv/
backend/__pycache__/
*.pyc

# Segurança (NUNCA deve subir para o GitHub)
.env
backend/.env
frontend/.env

# Node / React (Arquivos que o NPM baixa sozinho)
frontend/node_modules/
frontend/dist/

# Arquivos inúteis do sistema
.DS_Store
Thumbs.db