# --- BACKEND (Python) ---
backend/venv/
backend/__pycache__/
*.pyc

# --- FRONTEND (React/Vite) ---
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
*.local

# --- SEGURANÇA (Obrigatório) ---
.env
backend/.env
frontend/.env

# --- LOGS E EDITORES ---
npm-debug.log*
yarn-error.log*
.vscode/
.idea/
.DS_Store
Thumbs.db